<%= form_for(@cv_entry) do |f| %>
  <% if @cv_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cv_entry.errors.count, "error") %> prohibited this cv_entry from being saved:</h2>

      <ul>
      <% @cv_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.collection_select(:company_id, Company.all, :id, :name) %>
  </div>
  <div class ="create company">
    <%= link_to 'New Company', new_company_path %>
    </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
