<h1>Curriculum Vitae</h1> <br/>

<div>
  <% @ordered_entries = @cv_entries.sort_by { |obj| obj.end_date } %>
  <% @ordered_entries.reverse! %>
  <% @ordered_entries.each do |cv_entry| %>
      <div>
        <b><%= cv_entry.start_date.year %>/<%= cv_entry.start_date.month %> -
          <% if (cv_entry.end_date.month == Date.today.month) && (cv_entry.end_date.year == Date.today.year) %>
              Presente: </b>
          <% else %>
              <%= cv_entry.end_date.year %>/<%= cv_entry.end_date.month %></b>:
          <% end %>
          <%= link_to Company.find(cv_entry.company_id).name, Company.find(cv_entry.company_id) %>
          (<%= link_to 'Add Task', new_task_path(:cv_entry => cv_entry.id) %> |
          <%= link_to 'Destroy', cv_entry, method: :delete, data: {confirm: 'Are you sure?'} %>)
          <% @tasks = Task.where('CVEntry_id' => cv_entry.id) %>
          <ul>
            <% @tasks.each do |task| %>
                <li><b><%= task.position %></b>, <%= task.description %></li>
            <% end %>
          </ul>
          </div>
  <% end %>
</div>
<br>

<%= button_to 'New Entry', new_cv_entry_path, method: :get, :class => "button_to" %>
