<h1>Curriculum Vitae</h1> <br />

<div>
  <% @ordered_entries = @cv_entries.sort_by { |obj| obj.start_date } %>
  <% @ordered_entries.reverse! %>
  <% @ordered_entries.each do |cv_entry| %>
    <div>
      <b><%= cv_entry.start_date.year %> - <td><%= cv_entry.end_date.year %></b>:
        <%= Company.find(cv_entry.company_id).name %> (<%= link_to 'Add Task', new_task_path(:cv_entry => cv_entry.id)%> |
        <%= link_to 'Destroy', cv_entry, method: :delete, data: { confirm: 'Are you sure?' } %>)
      <% @tasks = Task.where('CVEntry_id' => cv_entry.id) %>
      <ul>
      <% @tasks.each do |task| %>
          <li><b><%= task.position %></b>, <%= task.description %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
<br>

<%= button_to 'New Entry', new_cv_entry_path, method: :get %>
