<h1>Listing articles</h1>

<% @total = [current_user.id] %>
<% @requests1 = Contact.where('user_requesting_id' => current_user.id) %>
<% @requests2 = Contact.where('target_user_id' => current_user.id) %>

<% @requests1.each do |temp| %>
    <% @total.push(temp.target_user_id) %>
<% end %>

<% @requests2.each do |temp| %>
    <% @total.push(temp.user_requesting_id) %>
<% end %>

<!--<#% @total = @requests1 | @requests2 %>  -->
<% @total.uniq %>

<!--<#% @total.each do |temp| %>
    <#% puts(temp) %>
<#% end %>
<#% puts(@requests1.size) %>
<#% puts(@requests2.size) %>-->

<ul>
<% @total.each do |contact| %>

      <% @temp = User.find(contact) %>
      <% @temp.articles.each do |article| %>
          <li>
            <b><%= @temp.name %></b> published on <%= article.published %>:
            <a href=<%= article.link %>><%= article.title %></a>
            <%= article.image %>
            <br/>
            <%= article.text %>
          </li><br/>
      <% end %>

<% end %>
</ul>
<%= link_to 'New Article', new_article_path %>

</div>



