<% @total = [current_user.id] %>
<% @requests1 = Contact.where('user_requesting_id' => current_user.id, 'state' => false) %>
<% @requests2 = Contact.where('target_user_id' => current_user.id, 'state' => false) %>

<% @requests1.each do |temp| %>
    <% @total.push(temp.target_user_id) %>
<% end %>

<% @requests2.each do |temp| %>
    <% @total.push(temp.user_requesting_id) %>
<% end %>
<% @total.uniq %>
<div>

  <% @total.each do |contact| %>

      <% @temp = User.find(contact) %>
      <% @temp.articles.each do |article| %>
          <div class="news">
            <%= image_tag @temp.photo, :size => "50x50", :class => "style_image" %>
            <b><%= @temp.name %></b> published on <%= article.published %>:<br>
            <%= image_tag article.image, :size => "50x50", :class => "style_image" %>
            <a href=<%= article.link %>><%= article.title %></a>
            <% if article.user_id == current_user.id %>
                <%= link_to 'Edit', edit_article_path(article) %>
            <% end %>
            <br/>
            <%= article.text %>
          </div>
          <br/>
      <% end %>
  <% end %>

</div>
<%= button_to 'New Article', new_article_path, :method => :get, :class => "button_to" %>

</div>



