<%= image_tag @user.photo, :size => "250x200", :class => "style_image" %></p>
<p>Nome: <%= @user.name %></p>
<p>Sobre Mim: <%= @user.about_me %></p>
<p>Género: <%= @user.gender %></p>
<p>E-Mail: <%= @user.email %></p>
<p>Data de nascimento: <%= @user.birth_date %></p>

<% if (@user.id == current_user.id) %>
    <p><%= link_to 'Edit', edit_user_registration_path(@user) %></p>
<% else %>
    <p><%= link_to 'CV', :controller => 'cv_entries', :action => 'index', :id => @user.id %></p>
    <% @aux1 = Contact.where('user_requesting_id' => current_user.id, 'target_user_id' => @user.id) %>
    <% @aux2 = Contact.where('user_requesting_id' => @user.id, 'target_user_id' => current_user.id) %>
    <% @friends = @aux1 | @aux2 %>
    <% if @friends.size == 0 %>
        <%= form_for(Contact.new, :url => "/contacts", :method => :post) do |f| %>
            <%= f.hidden_field :state, :value => true %>
            <%= f.hidden_field :target_user_id, :value => @user.id %>
            <%= f.submit "Add Contact" %>
        <% end %>
    <% else %>
        <% @temp = @friends.first %>
        <% if @temp.state == true %>
            <p><b>Pending friend request</b></p>
        <% end %>
    <% end %>
<% end %>




