<%= image_tag @user.photo, :size => "250x200", :class => "style_image" %></p>
<p>Nome: <%= @user.name %></p>
<p>Sobre Mim: <%= @user.about_me %></p>
<p>Género: <%= @user.gender %></p>
<p>E-Mail: <%= @user.email %></p>
<p>Data de nascimento: <%= @user.birth_date %></p>

<p><%= link_to 'Edit', edit_user_registration_path(@user) %></p>




