<h1>User Info</h1>

<p>ID: <%= @user.id %></p>
<p>NOME: <%= @user.name %></p>
<p>SOBRE MIM: <%= @user.about_me %></p>
<p>GÉNERO: <%= @user.gender %></p>
<p>FOTO: <%= @user.photo %></p>
<p>EMAIL: <%= @user.email %></p>
<p>DATA NASCIMENTO: <%= @user.birth_date %></p>
<p><%= link_to 'Edit', edit_user_registration_path(@user) %></p>




