<h1>User Info</h1>

<p>Nome: <%= @user.name %></p>
<p>Sobre Mim: <%= @user.about_me %></p>
<p>Género: <%= @user.gender %></p>
<p>Foto: <%= @user.photo %></p>
<p>E-Mail: <%= @user.email %></p>
<p>Data de nascimento: <%= @user.birth_date %></p>

<p><%= link_to 'Edit', edit_user_registration_path(@user) %></p>




