<h1>Listing contacts</h1>

<table>
  <thead>
    <tr>
      <th>User requesting</th>
      <th>Target user</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= User.find(contact.user_requesting_id).name %></td>
        <td><%= User.find(contact.target_user_id).name %></td>
        <% if contact.state == true %>
            <td><%= "Pending" %></td>
        <% else %>
            <td><%= "Accepted" %></td>
        <% end %>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
