<h1>Current Contacts</h1>

<!--<#% @user_friends = Contact.where('user_requesting_id' => current_user.id) %>   -->

<% @outcoming_req = Contact.where('user_requesting_id' => current_user.id) %>
<% @incoming_req = Contact.where('target_user_id' => current_user.id) %>
<% @total = @incoming_req | @outcoming_req %>



<div>
  <% @total.each do |contact| %>
      <ul>
        <% if contact.state == false %>
            <li><%= User.find(contact.target_user_id).name %>
              <%= link_to 'Cancel Friendship', contact, method: :delete, data: {confirm: 'Are you sure?'} %></li>
        <% end %>
      </ul>
  <% end %>
</div>

<br/>

<h1>Pending Requests</h1>

<div>
  <% @total.each do |contact| %>
      <ul>
        <% if contact.state == true %>
            <% if contact.target_user_id == current_user.id %>
                <%#= User.find(contact.user_requesting_id).name %>
                <li> <%= User.find(contact.user_requesting_id).name %>
                  <%= link_to 'Edit (temporary)', edit_contact_path(contact) %> </li>
            <% else %>
                <li> <%= User.find(contact.target_user_id).name %>
                  <%= link_to 'Cancel Request', contact, method: :delete, data: {confirm: 'Are you sure?'} %></li>
            <% end %>
        <% end %>
      </ul>
  <% end %>
</div>

<br>

<%= link_to 'New Contact', new_contact_path %>
