<h1>Current Contacts</h1>

<% @outcoming_req = Contact.where('user_requesting_id' => current_user.id) %>
<% @incoming_req = Contact.where('target_user_id' => current_user.id) %>
<% @total = @incoming_req | @outcoming_req %>

<div>
  <% @total.each do |contact| %>
      <ul>
        <% if contact.state == false %>
            <li>
              <% if contact.user_requesting_id != current_user.id %>
                  <%= link_to User.find(contact.user_requesting_id).name, User.find(contact.user_requesting_id) %>
              <% else %>
                  <%= User.find(contact.target_user_id).name %>
              <% end %>
              <%= button_to 'Cancel Friendship', contact, method: :delete, data: {confirm: 'Are you sure?'}, :class => "button_to" %>
            </li>
        <% end %>
      </ul>
  <% end %>
</div>

<br/>

<h1>Pending Requests</h1>

<div>
  <% @total.each do |contact| %>
      <ul>
        <% if contact.state == true %>
            <% if contact.target_user_id == current_user.id %>
                <li> <%= link_to User.find(contact.user_requesting_id).name, User.find(contact.user_requesting_id) %>
                  <% @temp = contact %>
                  <%= form_for @temp, :method => :put do |f| %>
                      <%= f.hidden_field :state, :value => false %>
                      <%= f.submit "Accept", :class => "button_to" %>
                  <% end %>
                </li>
            <% end %>
        <% end %>
      </ul>
  <% end %>
</div>

<br/>

<h1>Sent Requests</h1>

<div>
  <% @total.each do |contact| %>
      <ul>
        <% if contact.state == true %>
            <% if contact.user_requesting_id == current_user.id %>
                <li> <%= link_to User.find(contact.target_user_id).name, User.find(contact.target_user_id) %>
                  <%= button_to 'Cancel Request', contact, method: :delete, data: {confirm: 'Are you sure?'}, :class => "button_to" %></li>
            <% end %>
        <% end %>
      </ul>
  <% end %>
</div>
