<p id="notice"><%= notice %></p>

<p>
  <strong>User requesting:</strong>
  <%= @contact.user_requesting_id %>
</p>

<p>
  <strong>Target user:</strong>
  <%= @contact.target_user_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @contact.state %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
