<tbody>
<% @companies.each do |company| %>
    <%= image_tag company.logotype, :size => "50x50", :class => "style_image" %> <b><%= company.name %></b>
    <br>
    <%= company.description %>
    <br>
    <%= link_to 'Details', company %> | <%= link_to 'Edit', edit_company_path(company) %>
    | <%= link_to 'Delete', company, method: :delete, data: {confirm: 'Are you sure?'} %>
    <% @entries = CvEntry.where('company_id' => company.id) %>
    <% @total = [] %>
    <% @entries.each do |temp| %>
        <% @total.push(temp.user_id) %>
    <% end %>
    <% @total.uniq! %>
    <% @total.each do |cv_entry| %>
        <li><%= User.find(cv_entry).name %></li>
    <% end %>
    <br><br>
<% end %>
</tbody>
<br>

<%= link_to 'New Company', new_company_path %>
