<tbody>
<% @companies.each do |company| %>
    <b><%= company.name %></b>, <%= company.logotype %>
    <br>
    <%= company.description %>
    <br>
    <%= link_to 'Details', company %> | <%= link_to 'Edit', edit_company_path(company) %>
     | <%= link_to 'Delete', company, method: :delete, data: {confirm: 'Are you sure?'} %>
    <% @entries = CvEntry.where('company_id' => company.id) %>
    <% @entries.each do |cv_entry| %>
        <li><%= User.find(cv_entry.user_id).name %></li>
    <% end %>
    <br><br>
<% end %>
</tbody>
<br>

<%= link_to 'New Company', new_company_path %>
