<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Logotype:</strong>
  <%= image_tag @company.logotype %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Owner:</strong>
  <% @user = User.find(@company.company_owner) %>
  <%= link_to @user.name, @user %>
</p>

<%= button_to 'Edit', edit_company_path(@company), :method => :get, :class => "button_to" %> |
<%= button_to 'Back', companies_path, :method => :get, :class => "button_to" %>
