<h1>Listing company_owners</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Company</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @company_owners.each do |company_owner| %>
      <tr>
        <td><%= company_owner.user_id %></td>
        <td><%= company_owner.company_id %></td>
        <td><%= link_to 'Show', company_owner %></td>
        <td><%= link_to 'Edit', edit_company_owner_path(company_owner) %></td>
        <td><%= link_to 'Destroy', company_owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company owner', new_company_owner_path %>
