<!DOCTYPE html>
<html>
<div class = "main">
<head>
  <title>LetsGetPro</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
  <div class="right">
    <div class="logo">
      <%= image_tag "logo.png" %>
    </div>
  </div>
  <% if user_signed_in? %>
      <% @user = current_user.id %>
      Ola <%= current_user.name %>.
      <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>  |
      <%= link_to 'Show Info', user_path(@user), :method => :get %>
      <div class="search">
        <%= form_tag( {:controller => "/welcome", :action => "search"}, :method => :get) do %>
            <%= text_field_tag :search, nil, placeholder: 'insert keywords' %>
            <%#= submit_tag("Search") %>
        <% end %>
        <!--<input type="text" id="search-box" placeholder="insert keywords"/>
        <button class="btn-with-shadow" id="search-btn" onClick="">Search</button>-->
      </div>
  <% end %>
</div>
<% if user_signed_in? %>
    <%= button_to 'Articles', articles_path, :method => :get %>
    <%= button_to 'CV', cv_entries_path, :method => :get %>
    <%= button_to 'Contactos', contacts_path, :method => :get %>
    <%= button_to 'Empresas', companies_path, :method => :get %>
<% end %>


<%= yield %>

</body>
<%= button_to 'About', about_path, :method => :get %>
</div>
</html>
