<!DOCTYPE html>
<html>
<div class="main">
  <head>
    <title>LetsGetPro</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <% if user_signed_in? %>
    <% @requests_count = Contact.where('target_user_id' => current_user.id, 'state' => true) %>
      <div class="user_nav">
        <% @user = current_user.id %><%= image_tag current_user.photo, :size => "75x75", :class => "style_image" %>
        Olá <b><%= current_user.name %></b>. <br>Tens <b><%= @requests_count.count %></b> pedidos pendentes</p>
        <%= button_to 'Sign out', destroy_user_session_path, :method => :delete, :class => "button_to" %>
        <%= button_to 'Show Info', user_path(@user), :method => :get, :class => "button_to" %>
        <%= form_tag({:controller => "/welcome", :action => "search"}, :method => :get) do %>
            <%= text_field_tag :search, nil, placeholder: 'insert keywords' %>
            <%= submit_tag("Search", :class => "button_to") %>
        <% end %>
      </div>
  <% end %>
  <%= image_tag "logo.png", :class => "logo_image" %>
  <div>
    <% if user_signed_in? %>
        <div id="menu-bar">
          <%= button_to 'Articles', articles_path, :method => :get, :class => "button_to" %>
          <%= button_to 'Curriculum Vitae', cv_entries_path, :method => :get, :class => "button_to" %>
          <%= button_to 'Contactos', contacts_path, :method => :get, :class => "button_to" %>
          <%= button_to 'Empresas', companies_path, :method => :get, :class => "button_to" %>
          <%= button_to 'About', about_path, :method => :get, :class => "button_to" %>
        </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </div>
  </body>
</div>
</html>
