<!DOCTYPE html>
<html>
<head>
  <title>LetsGetPro</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
  <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>  |
      <%#= link_to 'Show Info', users_path(@user) %>
  <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>
<% if user_signed_in? %>
<%= button_to 'Articles', articles_path, :method => :get %>
<%= button_to 'CV', destroy_user_session_path, :method => :delete %>
<%= button_to 'Contactos', destroy_user_session_path, :method => :delete %>
<%= button_to 'Empresas', destroy_user_session_path, :method => :delete %>
<% end %>

<%= yield %>

</body>
</html>
